In [ ]:
#Esercizio 1
#quanti dati ci sono in totale?
#quali sono i metadati?
#stampiamo il primo elemento
#stampiamo l'ultimo elemento
#riusciamo a stampare un elemento a caso?
#quali sono gli anni di inserimento presenti?
#quante attività ci sono nel quadrato di longitudine 9-10 e latitudine 45-46?
#quante attività ci sono nella provincia di Vicenza?
#quante enoteche ci sono, e come si chiamano?
#quante attività ci sono in Lazio e Abruzzo assieme?

In [2]:
import pandas as pd
df = pd.read_csv("C:\\Users\\Franco\\Desktop\\Leti\\Mappa-dei-pub-circoli-locali-in-Italia.csv", encoding="latin1", sep=";")
df

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
0,ALTRO,ALTRO,ALTRO,NaN,2011,2011-06-25T23:17:43Z,1339088150,13.733257,45.575830
1,ALTRO,ALTRO,ALTRO,Lenny's Pub,2011,2011-07-29T17:22:56Z,1375887295,12.418681,46.747584
2,ALTRO,ALTRO,ALTRO,Murrayfield Pub,2015,2015-10-24T09:28:06Z,3323888102,9.029585,45.831340
3,ALTRO,ALTRO,ALTRO,Snop?e,2010,2010-09-22T08:32:52Z,921157802,13.640939,45.954607
4,ALA DI STURA,CITTA' METROPOLITANA DI TORINO,Piemonte,NaN,2012,2012-05-21T14:28:45Z,1760949034,7.307306,45.313150
...,...,...,...,...,...,...,...,...,...
2630,BARLETTA,BARLETTA-ANDRIA-TRANI,Puglia,Santa Croce,2010,2010-01-17T16:15:08Z,615632993,16.285782,41.320671
2631,BISCEGLIE,BARLETTA-ANDRIA-TRANI,Puglia,Auld Dublin,2014,2014-03-03T20:56:16Z,2613737619,16.497204,41.241814
2632,BISCEGLIE,BARLETTA-ANDRIA-TRANI,Puglia,Ferus,2014,2014-01-07T19:22:18Z,2613737620,16.506175,41.240957
2633,TRANI,BARLETTA-ANDRIA-TRANI,Puglia,Re Artù,2009,2009-09-04T07:57:05Z,482836935,16.418124,41.281518
2634,TRANI,BARLETTA-ANDRIA-TRANI,Puglia,Well's Fargo,2009,2009-08-10T12:44:03Z,387223648,16.436765,41.267264

In [4]:
#Totale dati
df.shape

(2635, 9)

In [5]:
#Metadati
df.columns

Index(['Comune', 'Provincia', 'Regione', 'Nome', 'Anno inserimento',
       'Data e ora inserimento', 'Identificatore in OpenStreetMap',
       'Longitudine', 'Latitudine'],
      dtype='object')

In [6]:
#Stampo il primo elemento
df.head(1)

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
0,ALTRO,ALTRO,ALTRO,NaN,2011,2011-06-25T23:17:43Z,1339088150,13.733257,45.57583

In [7]:
#Stampo ultimo elemento
df.tail(1)

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
2634,TRANI,BARLETTA-ANDRIA-TRANI,Puglia,Well's Fargo,2009,2009-08-10T12:44:03Z,387223648,16.436765,41.267264

In [8]:
#Stampo un elemento casuale
df.sample(1)

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
2349,SOVERIA MANNELLI,CATANZARO,Calabria,Tirabusciò,2015,2015-02-19T22:25:13Z,3360303158,16.371097,39.083746

In [10]:
#Verifico gli anni di inserimento presenti
df["Anno inserimento"].unique()

array([2011, 2015, 2010, 2012, 2014, 2016, 2013, 2008, 2009, 2007],
      dtype=int64)

In [15]:
#Numero attività nel quadrato di longitudine 9-10 e latitudine 45-46
filtro_longitudine = df["Longitudine"].between(9, 10)
filtro_latitudine = df["Latitudine"].between(45, 46)
filtro = filtro_longitudine & filtro_latitudine
df_filtrato = df[filtro]
numero_attivita = df_filtrato.shape[0]
numero_attivita

306

In [17]:
#Numero attività nella provincia di Vicenza?
filtro_vicenza = df["Provincia"] == "VICENZA"
numero_attivita = df[filtro_vicenza].shape[0]
numero_attivita

2635

In [5]:
#Numero di enoteche e come si chiamano
filtro_enoteche = df["Nome"].str.contains("enoteca", case= False, na = False)
numero_enoteche = df.loc[filtro_enoteche].shape[0]
numero_enoteche

6

In [9]:
nome_enoteche = df.loc[filtro_enoteche, "Nome"].unique()
nome_enoteche

array(['Enoteca con Cucina""Tirolin""', 'Concordia Enoteca',
       'Enoteca Umberto', 'Enoteca ""Al Brindisi""',
       'Enoteca ""da Massimo""', 'Enoteca Il Violino Rosso'], dtype=object)

In [18]:
#Numero attività  in Lazio e Abruzzo assieme
filtro_lazio = df["Regione"] == "Lazio"
filtro_abruzzo = df["Regione"] == "Abruzzo"
filtro_regione = filtro_lazio | filtro_abruzzo
numero_attivita = df[filtro_regione].shape[0]
numero_attivita

337

In [ ]:
#Esercizio 2
#Il dataset insurance.csv dei beginner_datasets contiene dati su caratteristiche e abitudini delle persone rispetto ai costi individuali per le cure mediche come premio per le assicurazioni sulla salute.
#Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna;
#Quali sono le medie di charges rispetto a region? Ci sono differenze significative?
#E rispetto a smoker? E a sex?
#Quali sono i descrittori statistici di bmi? Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?

In [19]:
import pandas as pd
df = pd.read_csv("C:\\Users\\Franco\\Desktop\\Leti\\insurance.csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [20]:
#Dimensioni del dataset
df.shape

(1338, 7)

In [21]:
#Anteprima dataset
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [22]:
#Nomi di colonna
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [23]:
#Media charges rispetto a region
media_charges_region = df.groupby("region")["charges"].mean()
media_charges_region

#in base ai risultati si puà notare che la media più alta appartiene alla regione di southeast. Non ci sono differenze troppo significative tra le medie di
#northeast e southwest, che però sono nettamente più basse rispetto alla media più elevata (southeast). La media di northeast è più alta delle precedenti ma più bassa 
#anch'essa non di poco rispetto a southeast

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

In [24]:
#Media charges rispetto a smoker
media_charges_smoker = df.groupby("smoker")["charges"].mean()
media_charges_smoker
#i fumatori hanno una media nettamente superiore ai non fumatori

smoker
no      8434.268298
yes    32050.231832
Name: charges, dtype: float64

In [25]:
#Media charges rispetto a sex
media_charges_sex = df.groupby("sex")["charges"].mean()
media_charges_sex
#gli uomini hanno una media superiore rispetto alle donne

sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64

In [26]:
#Descrittori statistici di bmi
bmi_statistics = df["bmi"].describe()
bmi_statistics

count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

In [27]:
#Minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi
q1 = df["bmi"].between(15.96, 26.29)
q2 = df["bmi"].between(26.29, 30.40)
q3 = df["bmi"].between(30.40, 34.69)
q4 = df["bmi"].between(34.69, 53.13)

In [28]:
dati_per_primo_quartile = df[q1]["charges"].describe()
dati_per_primo_quartile

count      335.000000
mean     10360.662825
std       7698.736614
min       1121.873900
25%       3802.147800
50%       8582.302300
75%      14466.987100
max      38245.593270
Name: charges, dtype: float64

In [29]:
dati_per_secondo_quartile = df[q2]["charges"].describe()
dati_per_secondo_quartile

count      339.000000
mean     11456.211685
std       8972.307612
min       1131.506600
25%       4674.541675
50%       8703.456000
75%      16964.132700
max      62592.873090
Name: charges, dtype: float64

In [30]:
dati_per_terzo_quartile = df[q3]["charges"].describe()
dati_per_terzo_quartile

count      335.000000
mean     14323.550842
std      13361.297657
min       1135.940700
25%       4884.918025
50%       9722.769500
75%      15840.639050
max      60021.398970
Name: charges, dtype: float64

In [31]:
dati_per_quarto_quartile = df[q4]["charges"].describe()
dati_per_quarto_quartile

count      335.000000
mean     16987.936691
std      15621.508495
min       1141.445100
25%       5646.341425
50%      10736.870750
75%      28114.592620
max      63770.428010
Name: charges, dtype: float64

In [ ]:
#Esercizio 3
#Carichiamo in un DataFrame il dataset iris.csv dei beginner_datasets e calcoliamo:
#La media della lunghezza dei petali di tutto il dataset
#La media della lunghezza dei petali per ogni specie di Iris, utilizzando il metodo .groupby()
#Media, minimo e massimo della larghezza dei sepali per ogni specie, utilizzando .groupby() e .agg()

In [32]:
import pandas as pd
df = pd.read_csv("C:\\Users\\Franco\\Desktop\\Leti\\iris.csv")
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [35]:
#Media della lunghezza dei petali di tutto il dataset
media_lunghezza_petali = df["petal_length"].mean()
media_lunghezza_petali

3.758666666666666

In [37]:
#Media della lunghezza dei petali per ogni specie di Iris
media_lunghezza_petali_specie = df.groupby("species")["petal_length"].mean()
media_lunghezza_petali_specie

species
Iris-setosa        1.464
Iris-versicolor    4.260
Iris-virginica     5.552
Name: petal_length, dtype: float64

In [38]:
#Media, minimo e massimo della larghezza dei sepali per ogni specie
media_larghezza_sepali_specie = df.groupby("species")["sepal_length"].agg(["mean", "max", "min"])
media_larghezza_sepali_specie

                  mean  max  min
species
Iris-setosa      5.006  5.8  4.3
Iris-versicolor  5.936  7.0  4.9
Iris-virginica   6.588  7.9  4.9

In [ ]:
#Esercizio 4
#Nei beginner_datasets, il dataset wine.csv contiene delle analisi organolettiche su diverse qualità di vini:
#Qual è la media di concentrazione alcolica per ogni qualità? Ci sono differenze? E rispetto alla media totale?
#C'è differenza nella concentrazione alcolica per vini bianchi e vini rossi?
#Rifacendo le analisi dei due punti precedenti ma per il pH, cambia qualcosa?
#E per i solfati?

In [39]:
import pandas as pd
df = pd.read_csv("C:\\Users\\Franco\\Desktop\\Leti\\wine.csv")
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white

In [40]:
#Media concentrazione alcolica per qualità
media_alcool_qualita = df.groupby("quality")["alcohol"].mean()
media_alcool_qualita

#la media della concentrazione alcolica per ciascuna qualità non si discosta dalla media totale e non varia, se non per piccoli valori, tra le varie qualità

quality
3    10.215000
4    10.180093
5     9.837783
6    10.587553
7    11.386006
8    11.678756
9    12.180000
Name: alcohol, dtype: float64

In [41]:
#Media totale concentrazione alcolica
media_alcool_totale = df["alcohol"].mean()
media_alcool_totale

10.491800831149453

In [43]:
#Differenza nella concentrazione alcolica per vini bianchi e vini rossi
media_alcool_vini = df.groupby("type")["alcohol"].mean()
media_alcool_vini

#la concentrazione alcolica non varia per tipologia di vino

type
red      10.422983
white    10.514267
Name: alcohol, dtype: float64

In [44]:
#Media ph per qualità
media_ph_qualita = df.groupby("quality")["pH"].mean()
media_ph_qualita

#la media del ph per ciascuna qualità non si discosta dalla media totale e non varia, se non per piccoli valori, tra le varie qualità

quality
3    3.257667
4    3.231620
5    3.212189
6    3.217726
7    3.228072
8    3.223212
9    3.308000
Name: pH, dtype: float64

In [46]:
media_ph_totale = df["pH"].mean()
media_ph_totale

3.2185008465445586

In [45]:
#Differenza nel ph per vini bianchi e vini rossi
media_ph_vini = df.groupby("type")["pH"].mean()
media_ph_vini

#ila media del ph non varia per tipologia di vino

type
red      3.311113
white    3.188267
Name: pH, dtype: float64

In [50]:
#Media solfati per qualità
media_solfati_qualita = df.groupby("quality")["sulphates"].mean()
media_solfati_qualita

#la media dei solfati per ciascuna qualità non si discosta dalla media totale e non varia, se non per piccoli valori, tra le varie qualità

quality
3    0.506333
4    0.505648
5    0.526403
6    0.532549
7    0.547025
8    0.512487
9    0.466000
Name: sulphates, dtype: float64

In [49]:
#Media totale solfati
media_solfati_totale = df["sulphates"].mean()
media_solfati_totale

0.5312682776666154

In [51]:
#Differenza nei solfati  per vini bianchi e vini rossi
media_solfati_vini = df.groupby("type")["sulphates"].mean()
media_solfati_vini

#la media dei solfati non varia per tipologia di vino

type
red      0.658149
white    0.489847
Name: sulphates, dtype: float64

In [ ]:
#Esercizio 5
#Nei beginner_datasets, il file boston.csv contiene il Boston Housing Dataset, che deriva dalle informazioni raccolte dal Census Service degli Stati Uniti sulle abitazioni nell'area di Boston.
#Di seguito vengono descritte le colonne del dataset:
#CRIM -tasso di criminalità pro capite per città
#ZN - proporzione di terreni residenziali suddivisi in zone per lotti superiori a 25.000 piedi quadrati.
#INDUS - percentuale di acri di attività commerciali non al dettaglio per città.
#CHAS -variabile dummy del fiume Charles (1 se il tratto costeggia il fiume; 0 altrimenti)
#NOX -concentrazione di ossidi di azoto (parti per 10 milioni).
#RM -numero medio di stanze per abitazione
#AGE -proporzione di unità abitative occupate da proprietari costruite prima del 1940
#DIS - distanze ponderate da cinque centri occupazionali di Boston
#RAD -indice di accessibilità alle autostrade radiali
#TAX -aliquota dell'imposta fondiaria sul valore pieno per 10.000 dollari
#PTRATIO - rapporto alunni-insegnanti per città
#BLACK -la percentuale di neri per città
#LSTAT - % di popolazione di condizione più bassa 8
#MEDV -Valore mediano delle case, espresso in migliaia di dollari

#La media del prezzo delle case cambia a seconda della distanza dal fiume Charles?
#Si nota una correlazione tra il tasso di criminalità e il valore delle abitazioni? Come si può spiegare il risultato?
#Qual è la media del numero di stanze rispetto al rapporto alunni-insegnanti? E del valore delle case? Appare esserci una qualche correlazione? Come si può spiegare il risultato?
#Rispetto all'accessibilità alle autostrade, cambia qualcosa la media delle età delle abitazioni? E del numero di stanze? E delle tasse?

In [47]:
df = pd.read_csv("C:\\Users\\Franco\\Desktop\\Leti\\boston.csv")
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [48]:
#Verifico se la media del prezzo delle case cambia in base alla distanza dal fiume Charles
media_prezzo_distanza_charles = df.groupby("chas")["medv"].mean()
media_prezzo_distanza_charles #il valore del prezzo della case è più alto per quelle che costeggiano il fiume

chas
0    22.093843
1    28.440000
Name: medv, dtype: float64

In [50]:
#Verifico se c'è correlazione tra il tasso di criminalità e il valore abitazioni
correlazione = df["crim"].corr(df["medv"])
correlazione #la correlazione è negativa, significa che all’aumentare della criminalità, il valore delle case tende a diminuire

-0.38830460858681165

In [51]:
#Calcolo la media del numero delle stanze rispetto al rapporto alunni-insegnanti
media_rm_ptratio = df.groupby("ptratio")["rm"].mean()
media_rm_ptratio

ptratio
12.6    7.222667
13.0    7.406167
13.6    7.923000
14.4    7.875000
14.7    6.246235
14.8    6.752333
14.9    7.311250
15.1    6.816000
15.2    6.421923
15.3    6.705333
15.5    7.241000
15.6    6.702000
15.9    6.997000
16.0    6.230600
16.1    6.428800
16.4    6.139667
16.6    6.344188
16.8    6.146750
16.9    6.016400
17.0    6.868250
17.3    6.383000
17.4    7.212333
17.6    6.822429
17.8    6.496130
17.9    6.134818
18.0    7.218600
18.2    6.283000
18.3    6.520500
18.4    6.285938
18.5    6.288750
18.6    6.111588
18.7    6.406556
18.8    5.956000
18.9    5.785667
19.0    6.453750
19.1    6.234882
19.2    6.053632
19.6    6.224000
19.7    6.303250
20.1    5.585400
20.2    6.024021
20.9    6.266273
21.0    6.039778
21.1    5.888000
21.2    6.028533
22.0    5.799500
Name: rm, dtype: float64

In [52]:
#Calcolo la media del valore case rispetto al rapporto alunni-insegnanti
media_ptratio_medv = df.groupby("ptratio")["medv"].mean()
media_ptratio_medv

ptratio
12.6    32.733333
13.0    38.025000
13.6    50.000000
14.4    50.000000
14.7    25.717647
14.8    25.433333
14.9    40.475000
15.1    31.600000
15.2    26.276923
15.3    26.066667
15.5    32.700000
15.6    30.100000
15.9    30.250000
16.0    24.320000
16.1    24.880000
16.4    23.216667
16.6    23.856250
16.8    22.150000
16.9    19.640000
17.0    30.600000
17.3    24.700000
17.4    33.544444
17.6    30.700000
17.8    26.956522
17.9    22.363636
18.0    33.100000
18.2    22.150000
18.3    27.100000
18.4    23.131250
18.5    23.800000
18.6    24.335294
18.7    25.122222
18.8    17.350000
18.9    20.100000
19.0    24.900000
19.1    22.894118
19.2    22.805263
19.6    22.575000
19.7    21.787500
20.1    12.800000
20.2    16.611429
20.9    21.118182
21.0    17.351852
21.1    18.900000
21.2    17.093333
22.0    19.400000
Name: medv, dtype: float64

In [53]:
#Calcolo la media delle età abitazione rispetto all'accessibilità alle autostrade
media_rad_age = df.groupby("rad")["age"].mean()
media_rad_age

rad
1     45.025000
2     64.770833
3     49.310526
4     60.841818
5     69.223478
6     60.142308
7     40.141176
8     67.350000
24    89.805303
Name: age, dtype: float64

In [54]:
#Calcolo la media del numero stanze rispetto all'accessibilità alle autostrade
media_rad_rm = df.groupby("rad")["rm"].mean()
media_rad_rm

rad
1     6.555850
2     6.649958
3     6.473026
4     6.133118
5     6.393157
6     6.104731
7     6.647765
8     6.950792
24    6.022152
Name: rm, dtype: float64

In [55]:
#Calcolo la media delle tasse rispetto all'accessibilità alle autostrade
media_rad_tax = df.groupby("rad")["tax"].mean()
media_rad_tax

rad
1     291.450000
2     260.666667
3     246.078947
4     335.981818
5     331.843478
6     372.884615
7     304.411765
8     301.250000
24    666.000000
Name: tax, dtype: float64

In [ ]:
#Esercizio 6
#Abbiamo un DataFrame di dipendenti: 
#employees_df = pd.DataFrame({ 'employee_id': [101, 102, 103, 104, 105], 'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'], 'department_id': [1, 2, 1, 2, 3] })
#e un DataFrame di dipartimenti: 
#departments_df = pd.DataFrame({ 'department_id': [1, 2, 3], 'department_name': ['HR', 'IT', 'Finance'], 'location': ['New York', 'San Francisco', 'Chicago'] })
#Unire questi DataFrame in base alla colonna comune department_id, in modo da avere nel risultato informazioni sia sui dipendenti che sui dipartimenti, usando la funzione .merge()
#Per ogni DataFrame, trasformare la colonna department_id nell'indice, facendo in modo che la modifica sia permanente; poi unire i due dataset mediante il metodo .join()
#Ci sono differenze nel risultato? Quali? Perché?

In [60]:
employees_df = pd.DataFrame({ 'employee_id': [101, 102, 103, 104, 105], 'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'], 'department_id': [1, 2, 1, 2, 3] })
departments_df = pd.DataFrame({ 'department_id': [1, 2, 3], 'department_name': ['HR', 'IT', 'Finance'], 'location': ['New York', 'San Francisco', 'Chicago'] })

In [54]:
#Metodo MERGE
df_merge = employees_df.merge(departments_df, how = "inner", on = "department_id")[["department_name", "location"]]
df_merge

  department_name       location
0              HR       New York
1              IT  San Francisco
2              HR       New York
3              IT  San Francisco
4         Finance        Chicago

In [62]:
#Metodo JOIN
employees_df = employees_df.set_index("department_id")

KeyError: "None of ['department_id'] are in the columns"

In [65]:
departments_df = departments_df.set_index("department_id")

KeyError: "None of ['department_id'] are in the columns"

In [68]:
df_join = employees_df.join(departments_df)[["department_name", "location"]]
df_join

              department_name       location
department_id
1                          HR       New York
2                          IT  San Francisco
1                          HR       New York
2                          IT  San Francisco
3                     Finance        Chicago

In [ ]:
#Esercizio 7
#Dal database AdventureWorksDW importiamo le tabelle dimemployee e dimemployeesalesterritory come DataFrame
#Effettuiamo un join tra i due DataFrame usando le colonne EmployeeKey
#Controlliamo la dimensione del DataFrame risultante: è quella attesa?
#Importiamo ora la tabella dimsalesterritory ed effettuiamo un join tra questa e il DataFrame risultante della join precedente, usando le colonne SalesTerritoryKey
#Su questo DataFrame contare quanti dipendenti ci sono per ogni paese (country) e per ogni regione (region)
#Valutiamo la media del BaseRate per ogni paese: ci sono differenze?

In [7]:
import os
from dotenv import load_dotenv
import sqlalchemy
import pandas as pd

env_path = "C:\\Users\\Franco\\cred.env" 
load_dotenv(dotenv_path=env_path, override=True)

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

connection_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"

db_engine = sqlalchemy.create_engine(connection_string)

In [15]:
query_employee = "SELECT * FROM dimemployee"
df_employee = pd.read_sql(query_employee, db_engine)
df_employee

,EmployeeKey,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,FirstName,LastName,MiddleName,NameStyle,Title,HireDate,...,Gender,PayFrequency,BaseRate,VacationHours,SickLeaveHours,CurrentFlag,SalesPersonFlag,DepartmentName,EmployeePhoto,Position
0,1,18.0,14417807,446466105.0,Guy,Gilbert,R,0,Production Technician - WC60,2006-01-28,...,M,1,12.4500,21,30,1,0,Production,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
1,2,7.0,253022876,24756624.0,Kevin,Brown,F,0,Marketing Assistant,2006-08-26,...,M,2,13.4615,42,41,1,0,Marketing,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
2,3,14.0,509647174,245797967.0,Roberto,Tamburello,None,0,Engineering Manager,2007-06-11,...,M,2,43.2692,2,21,1,0,Engineering,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
3,4,3.0,112457891,509647174.0,Rob,Walters,None,0,Senior Tool Designer,2007-07-05,...,M,2,29.8462,48,80,1,0,Tool Design,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
4,5,3.0,112457891,509647174.0,Rob,Walters,None,0,Senior Tool Designer,2007-07-05,...,M,2,29.8462,48,80,1,0,Tool Design,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,292,290.0,134219713,982310417.0,Ranjit,Varkey Chudukatil,R,0,Sales Representative,2011-12-29,...,M,2,23.0769,34,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
292,293,272.0,90836195,502097814.0,Tete,Mensa-Annan,A,0,Sales Representative,2012-04-30,...,M,2,23.0769,39,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
293,294,277.0,481044938,112432117.0,Syed,Abbas,E,0,Pacific Sales Manager,2012-10-12,...,M,2,48.1010,20,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
294,295,290.0,954276278,982310417.0,Rachel,Valdez,B,0,Sales Representative,2012-12-28,...,F,2,23.0769,35,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
295,296,294.0,758596752,481044938.0,Lynn,Tsoflias,N,0,Sales Representative,2012-12-28,...,F,2,23.0769,36,38,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative

In [22]:
query_employeesalesterritory = "SELECT * FROM dimemployeesalesterritory"
df_employeesalesterritory = pd.read_sql(query_employeesalesterritory, db_engine)
df_employeesalesterritory

(39, 2)

In [17]:
#Metodo MERGE
df_employee_merge = df_employee.merge(df_employeesalesterritory, how = "inner", on = "EmployeeKey")
df_employee_merge

,EmployeeKey,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,FirstName,LastName,MiddleName,NameStyle,Title,HireDate,...,PayFrequency,BaseRate,VacationHours,SickLeaveHours,CurrentFlag,SalesPersonFlag,DepartmentName,EmployeePhoto,Position,SalesTerritoryKey
0,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,1
1,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,2
2,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,3
3,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,4
4,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,5
5,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,6
6,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,1
7,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,2
8,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,3
9,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,4
10,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,5
11,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,6
12,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,7
13,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,8
14,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,9
15,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,10
16,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,2,23.0769,38,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,2
17,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,2,23.0769,38,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,3
18,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,2,23.0769,38,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,5
19,282,272.0,191644724,502097814.0,Linda,Mitchell,C,0,Sales Representative,2010-12-29,...,2,23.0769,27,33,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,3
20,282,272.0,191644724,502097814.0,Linda,Mitchell,C,0,Sales Representative,2010-12-29,...,2,23.0769,27,33,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,4
21,283,272.0,615389812,502097814.0,Jillian,Carson,None,0,Sales Representative,2010-12-29,...,2,23.0769,24,32,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,3
22,284,272.0,234474252,502097814.0,Garrett,Vargas,R,0,Sales Representative,2010-12-29,...,2,23.0769,33,36,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,6
23,285,272.0,716374314,502097814.0,Tsvi,Reiter,Michael,0,Sales Representative,2010-12-29,...,2,23.0769,29,34,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,5
24,286,272.0,61161660,502097814.0,Pamela,Ansman-Wolfe,O,0,Sales Representative,2010-12-29,...,2,23.0769,22,31,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,1
25,286,272.0,61161660,502097814.0,Pamela,Ansman-Wolfe,O,0,Sales Representative,2010-12-29,...,2,23.0769,22,31,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,4
26,287,272.0,139397894,502097814.0,Shu,Ito,K,0,Sales Representative,2010-12-29,...,2,23.0769,26,33,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,4
27,288,272.0,399771412,502097814.0,José,Saraiva,Edvaldo,0,Sales Representative,2010-12-29,...,2,23.0769,31,35,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,6
28,289,272.0,987554265,502097814.0,David,Campbell,R,0,Sales Representative,2010-12-29,...,2,23.0769,23,31,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,1
29,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,2,48.1010,21,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,7
30,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,2,48.1010,21,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,8
31,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,2,48.1010,21,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,10
32,291,290.0,668991357,982310417.0,Jae,Pak,B,0,Sales Representative,2011-12-29,...,2,23.0769,37,38,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,7
33,291,290.0,668991357,982310417.0,Jae,Pak,B,0,Sales Representative,2011-12-29,...,2,23.0769,37,38,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,10
34,292,290.0,134219713,982310417.0,Ranjit,Varkey Chudukatil,R,0,Sales Representative,2011-12-29,...,2,23.0769,34,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,7
35,293,272.0,90836195,502097814.0,Tete,Mensa-Annan,A,0,Sales Representative,2012-04-30,...,2,23.0769,39,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,1
36,294,277.0,481044938,112432117.0,Syed,Abbas,E,0,Pacific Sales Manager,2012-10-12,...,2,48.1010,20,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,9
37,295,290.0,954276278,982310417.0,Rachel,Valdez,B,0,Sales Representative,2012-12-28,...,2,23.0769,35,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,8
38,296,294.0,758596752,481044938.0,Lynn,Tsoflias,N,0,Sales Representative,2012-12-28,...,2,23.0769,36,38,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,9

In [23]:
query_salesterritory = "SELECT * FROM dimsalesterritory"
df_salesterritory = pd.read_sql(query_salesterritory, db_engine)
df_salesterritory

,SalesTerritoryKey,SalesTerritoryAlternateKey,SalesTerritoryRegion,SalesTerritoryCountry,SalesTerritoryGroup,SalesTerritoryImage
0,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
1,2,2,Northeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
2,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
3,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
4,5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
5,6,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
6,7,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
7,8,8,Germany,Germany,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
8,9,9,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
9,10,10,United Kingdom,United Kingdom,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
10,11,0,Corporate HQ,Corporate HQ,Corporate HQ,None

In [29]:
#Metodo MERGE
df_merge = df_employee_merge.merge(df_salesterritory, how = "inner", on = "SalesTerritoryKey")
df_merge

,EmployeeKey,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,FirstName,LastName,MiddleName,NameStyle,Title,HireDate,...,SalesPersonFlag,DepartmentName,EmployeePhoto,Position,SalesTerritoryKey,SalesTerritoryAlternateKey,SalesTerritoryRegion,SalesTerritoryCountry,SalesTerritoryGroup,SalesTerritoryImage
0,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
1,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,2,2,Northeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
2,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
3,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
4,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
5,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,6,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
6,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
7,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,2,2,Northeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
8,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
9,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
10,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
11,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,6,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
12,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,7,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
13,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,8,8,Germany,Germany,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
14,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,9,9,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
15,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,10,10,United Kingdom,United Kingdom,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
16,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,2,2,Northeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
17,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
18,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
19,282,272.0,191644724,502097814.0,Linda,Mitchell,C,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
20,282,272.0,191644724,502097814.0,Linda,Mitchell,C,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
21,283,272.0,615389812,502097814.0,Jillian,Carson,None,0,Sales Representative,2010-12-29,...,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
22,284,272.0,234474252,502097814.0,Garrett,Vargas,R,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,6,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
23,285,272.0,716374314,502097814.0,Tsvi,Reiter,Michael,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
24,286,272.0,61161660,502097814.0,Pamela,Ansman-Wolfe,O,0,Sales Representative,2010-12-29,...,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
25,286,272.0,61161660,502097814.0,Pamela,Ansman-Wolfe,O,0,Sales Representative,2010-12-29,...,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
26,287,272.0,139397894,502097814.0,Shu,Ito,K,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
27,288,272.0,399771412,502097814.0,José,Saraiva,Edvaldo,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,6,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
28,289,272.0,987554265,502097814.0,David,Campbell,R,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
29,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,7,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
30,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,8,8,Germany,Germany,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
31,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,10,10,United Kingdom,United Kingdom,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
32,291,290.0,668991357,982310417.0,Jae,Pak,B,0,Sales Representative,2011-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,7,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
33,291,290.0,668991357,982310417.0,Jae,Pak,B,0,Sales Representative,2011-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,10,10,United Kingdom,United Kingdom,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
34,292,290.0,134219713,982310417.0,Ranjit,Varkey Chudukatil,R,0,Sales Representative,2011-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,7,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
35,293,272.0,90836195,502097814.0,Tete,Mensa-Annan,A,0,Sales Representative,2012-04-30,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
36,294,277.0,481044938,112432117.0,Syed,Abbas,E,0,Pacific Sales Manager,2012-10-12,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,9,9,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
37,295,290.0,954276278,982310417.0,Rachel,Valdez,B,0,Sales Representative,2012-12-28,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,8,8,Germany,Germany,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
38,296,294.0,758596752,481044938.0,Lynn,Tsoflias,N,0,Sales Representative,2012-12-28,...,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,9,9,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...

In [38]:
#Conto il numero di dipendenti per ogni country
dipendenti_country = df_merge.groupby("SalesTerritoryCountry")["EmployeeKey"].value_counts()
dipendenti_country

SalesTerritoryCountry  EmployeeKey
Australia              277            1
                       294            1
                       296            1
Canada                 272            1
                       277            1
                       284            1
                       288            1
France                 277            1
                       290            1
                       291            1
                       292            1
Germany                277            1
                       290            1
                       295            1
United Kingdom         277            1
                       290            1
                       291            1
United States          272            5
                       277            5
                       281            3
                       282            2
                       286            2
                       283            1
                       285            1
                       287            1
                       289            1
                       293            1
Name: count, dtype: int64

In [39]:
#Conto il numero di dipendenti per ogni regione
dipendenti_region = df_merge.groupby("SalesTerritoryRegion")["EmployeeKey"].value_counts()
dipendenti_region

SalesTerritoryRegion  EmployeeKey
Australia             277            1
                      294            1
                      296            1
Canada                272            1
                      277            1
                      284            1
                      288            1
Central               272            1
                      277            1
                      281            1
                      282            1
                      283            1
France                277            1
                      290            1
                      291            1
                      292            1
Germany               277            1
                      290            1
                      295            1
Northeast             272            1
                      277            1
                      281            1
Northwest             272            1
                      277            1
                      286            1
                      289            1
                      293            1
Southeast             272            1
                      277            1
                      281            1
                      285            1
Southwest             272            1
                      277            1
                      282            1
                      286            1
                      287            1
United Kingdom        277            1
                      290            1
                      291            1
Name: count, dtype: int64

In [46]:
#Calcolo la media totale del baserate
media_baserate_totale = df_merge["BaseRate"].mean()
media_baserate_totale

42.06731025641026

In [45]:
#Valuto la media del BaseRate per ogni paese
media_baserate = df_merge.groupby("SalesTerritoryCountry")["BaseRate"].mean()
media_baserate #la media più alta si presenta per i paesi di Australia, United Kingdom e Germany, con uno stesso valore. La più bassa si presenta per United States, 
#mentre Canada e France si presentano al secondo posto con uno stesso valore. Questi paesi sono quelli che si avvicinano di più al valore della media totale

SalesTerritoryCountry
Australia         47.764433
Canada            41.592550
France            41.592550
Germany           47.764433
United Kingdom    47.764433
United States     39.909309
Name: BaseRate, dtype: float64